#touteslistes{
	width: 50%; 
	float: left;
}

#descriptliste{
	width: 50%;  
	float: right;
}

.touteslistes2{
	width: 50%; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;	
}

#contenu{
	display: block;
}

input[type=submit]{
	display: none;
}